		th, td { 
			border: 2px solid; 
			border-collapse: collapse;				
			text-align: center;
			font-family: "Courier New";
			font-size: 18px;
			font-weight: bold;
			padding: 0px;
		}					
		html, body, #main {
			overflow:hidden;			
			min-width: inherit;
			min-height: inherit;			
		}
		#table1{		
			width: 100%;
			min-height: inherit;
			table-layout: fixed;
		}